<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size-xm="12"
        size-sm="10"
        size-md="8"
        size-lg="6"
        size-xl="6">
        <ion-card>
          <img src="../../../assets/sobre.jpg">
          <ion-card-header>
            <ion-card-subtitle>Projeto</ion-card-subtitle>
            <ion-card-title>Axou - Achados & Perdidos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O objetivo do sistema é ajudar uma pessoa que perdeu um objeto, pessoa ou animal a
            encontrar, conectando a pessoa que encontrou à pessoa que perdeu.
            <br>
            <br>
            * Esta versão é uma demonstração e apresentação da ideia
            <ion-list>
              <ion-label>Integrantes</ion-label>
              <ion-item>
                <ion-label>William Resende</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Lucas Alvez</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Fernando Pereira</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Ivan Kaiser</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Karolina Avila</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Sandra Pereira</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
