<ion-header>
  <ion-toolbar class="bg-class">
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="/home/map"></ion-back-button>
    </ion-buttons>
    <ion-title>Pesquisar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size-xm="12"
        size-sm="12"
        size-md="12"
        size-lg="10"
        size-xl="8">
        <form
          [formGroup]="searchForm"
          (submit)="onSubmit()">
          <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select
              placeholder="Selecione"
              formControlName="tipo">
              <ion-select-option>Documentos Pessoais</ion-select-option>
              <ion-select-option>Animais (Cães e Gatos, Etc)</ion-select-option>
              <ion-select-option>Celulares / Smartphones / Etc</ion-select-option>
              <ion-select-option>Veículos (Carros, Motos)</ion-select-option>
              <ion-select-option>Chaves e Chaveiros</ion-select-option>
              <ion-select-option>
                Eletrônicos / Computadores / Tablets, Etc
              </ion-select-option>
              <ion-select-option>
                Canetas / Relógio / Joias, Alianças, Cordões, Etc
              </ion-select-option>
              <ion-select-option>Carteiras / Bolsas e Malas</ion-select-option>
              <ion-select-option>Outros</ion-select-option>
              <ion-select-option>Roupas e Calçados</ion-select-option>
              <ion-select-option>Pessoas Desaparecidas</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Data Início</ion-label>
                  <ion-datetime
                    formControlName="data_inicio"
                    displayFormat="DD/MM/YYYY"
                    [min]="minStartDate()"
                    [max]="atualDate()"
                    (ionBlur)="data_fim.reset()"
                    cancel-text="Cancelar"
                    doneText="Confirmar">
                  </ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Data Final</ion-label>
                  <ion-datetime
                    formControlName="data_fim"
                    displayFormat="DD/MM/YYYY"
                    [min]="minEndDate()"
                    [max]="atualDate()"
                    cancel-text="Cancelar"
                    doneText="Confirmar">
                  </ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-note color="medium">* Intervalo máximo de 30 dias</ion-note>
          </ion-grid>
          <ion-list>
            <ion-radio-group formControlName="situacao">
              <ion-list-header>
                <ion-label>Situação</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Achado</ion-label>
                <ion-radio
                  slot="start"
                  value="Achado"
                  checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Perdido</ion-label>
                <ion-radio
                  slot="start"
                  value="Perdido"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="searchForm.invalid"
            style="color: #fff">
            <ion-icon
              slot="icon-only"
              name="search"></ion-icon>
            Pesquisar
          </ion-button>
          <ion-button
            expand="block"
            (click)="limpar()"
            fill="outline">
            Limpar
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
