<ion-split-pane
  contentId="menu-content"
  when="md">
  <!-- our side menu -->
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <img
              src="../../assets/logo.png"
              width="150px">
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item
            button
            *ngFor="let page of pages"
            [routerLink]="page.url"
            [routerDirection]="page.direction">
            <ion-icon
              slot="start"
              color="primary"
              [name]="page.icon"></ion-icon>
            <ion-label>{{ page.text }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
