:host {
  ion-content {
    // --background: linear-gradient(to top, var(--ion-color-primary), var(--ion-color-light));
    --background: #eee;
  }

  ion-list-header {
    text-transform: uppercase;
  }

  ion-list {
    &.list-md {
      padding: 0;
    }
  }

  .logo {
    padding: 5px 70px;
  }
}
