<ion-header>
  <ion-toolbar class="bg-class">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-menu-toggle>
            <ion-button>
              <ion-icon
                slot="icon-only"
                name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button
          (click)="loadMap()"
          shape="round"
          fill="outline"
          color="light">
          <ion-icon
            slot="start"
            name="locate"
            color="light"></ion-icon>
          Onde estou
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-class">
  <div class="map-wrapper">
    <input
      #pacInput
      id="pacInput"
      name="location"
      class="form-control search-box-map"
      type="text"
      placeholder="Pesquisar">
    <div
      #map
      id="map"></div>
    <div style="display: none"></div>
  </div>
  <div class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-item>
          <ion-label position="stacked">Informe a descrição</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Tipo</ion-label>
          <ion-select>
            <ion-select-option value="f">Pessoa</ion-select-option>
            <ion-select-option value="m">Objeto</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          fill="outline"
          expand="block"
          color="light">
          <ion-icon
            slot="start"
            name="search"></ion-icon>
          Procurar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
