<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of locations">
    <ion-thumbnail slot="start">
      <img src="../../../assets/item.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>{{item.title}}</h2>
      <p>{{item.descricao}}</p>
    </ion-label>
    <ion-button
      fill="outline"
      slot="end"
      (click)="goToMap(item.latlng)">
      Ver
    </ion-button>
  </ion-item>
</ion-content>
